@media screen{
	*{
		box-sizing: border-box;
	}

	body {
		font-family: Arial, Helvetica, sans-serif;
		min-width: 500px;
	}
	header{
		background-color:  #257EAF;
	}
	
    .no-screen, .no-screen * {
        display: none !important;
    }

	ul {
	  margin: 0;
	  padding: 0;
	  list-style: none;
	}

	a {
		color: #000000;
		text-decoration: none;
	}

	hr {
	  border-top: 1px dotted gray;
	  margin-left: 20px;
	  margin-right: 20px;
	}
	.no-margin{
		margin: 0 0 1rem 0 !important;
	}
	.title{
		margin-bottom: 0.25rem!important;
		font-weight: 500;
		line-height: 1.2;
		font-size: 2rem;
		margin-top: 0.5rem !important;
	}
	.title small{
		font-weight: 400;
		line-height: 1;
		color: #777;
		font-size: 65%;
	}
	.subtitle{
		margin-bottom: .5rem;
		font-weight: 300;
		line-height: 1.2;
		font-size: 1rem;
		margin-top: 0 !important;
		color: #777;
	}

	.path {
		padding: 8px 15px;
		margin-bottom: 20px;
		list-style: none;
		background-color: #f5f5f5;
		border-radius: 4px;
	}

	.path > li {
		display: inline-block;
	}

	.path > li + li::before {
		padding: 0 5px;
		color: #ccc;
		content: "/\00a0";
	}
	.path > li > a:hover, .path > li > a:focus {
		color: #23527c;
		text-decoration: underline;
	}
	.path > li > a {
		color: #337ab7;
		text-decoration: none;
	}
	.form-input, .form-input:focus{
		width: 100%;
		display: block;
		border: none;
		border-bottom: 1px solid black;
		min-width: 100px;
		padding: 5px;
		margin-left: 10px;
		margin-top: 5px;
		margin-bottom: 5px;
		height: 40px;
	}
	.minified, .minified:focus{
		height: 1rem;
		min-width: 12rem;
		max-width: 25%;
	}
	.filter-group{
		display: inline-block;
		margin-left: 1.2rem;
		padding: 0 0.65rem 0 0.64rem;
	}
	.container-reportes{
		margin-left: 1.75rem;
		padding: 0.75rem;
		margin-bottom: 1.25rem;
	}
	.padding-top{
		padding-top: 5px;
		height: 15px;
	}
	.form-area{
		margin-left:15%;
		border-radius: 6px;
	}

	.form-error{
		margin:5px;
		color: #a94442;
	    background-color: #f2dede;
	    border-color: #ebccd1;
		padding: 10px;
		border-radius: 6px;
	}

	.form-success{
		margin:5px;
		color: #23B602;
	    background-color: #6EF550;
	    border-color: #2FFF00;
		padding: 10px;
		border-radius: 6px;
	}

	.close-message {
	  color: #aaaaaa;
	  float: right;
	  font-size: 15px;
	  font-weight: bold;
	}

	.close-message:hover,
	.close-message:focus {
	  color: #000;
	  text-decoration: none;
	  cursor: pointer;
	}

	.form-group{
		display: inline-block;
		margin-left: 5%;
		width: 35%;
		padding: 10px;
	}
	.table-mg{
		margin-top:5%;
	}
	.form-submit{
		display: block;
		min-width: 100px;
		max-width: 150px;
		padding: 5px;
		margin-left: 35%;
		margin-top: 5px;
		margin-bottom: 5px;
		width: 20%;
		border-radius: 4px;
	  cursor: pointer;
	}
	.form{
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;

	}
	.search-filters{
		width: 100%;
	}
	.input-search{
		width: 10%;
		display: inline;
		border-radius: 4px;
		min-width: 100px;
		padding: 5px;
		margin-left: 10px;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.group{
		box-sizing: border-box;
		display: inline-block;
		margin-top: 10px;
		min-width: 10em;
		border-top: 1px;
	}

	.group > .input{
		display: block;
	}

	.group-inline{
		box-sizing: border-box;
		display: inline-block;
		margin-top: 10px;
		min-width: 10em;
	}

	.group-inline > .input{
		display: inline-block;
	}

	.input{
		display: inline-block;
		min-width: 6em;
		border-radius: 4px;
		padding-left: 10px;
		padding-top: 5px;
  		padding-bottom: 5px;
		margin-top: 5px;
  		margin-bottom: 5px;
  		-webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
  		-moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
  		box-shadow: inset 2px 2px 2px 0px #dddddd;
	}

	.input:disabled, .input[readonly] {
	  background-color: #e9ecef;
	  opacity: 1;
	}

	.textarea {
		text-shadow: none;
		display: block;
		min-width: 10em;
		border-radius: 4px;
		padding-left: 10px;
		padding-top: 5px;
  		padding-bottom: 5px;
		margin-top: 5px;
  		margin-bottom: 5px;
  		resize: none;
  		border-width: 2px;
    	border-style: inset;
    	border-color: initial;
  		-webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
  		-moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
  		box-shadow: inset 2px 2px 2px 0px #dddddd;
  
	}

	.sangria{
		padding-left: 5%;
	}

  	.size-12 {
    	width: 100%;
  	}
  	.size-11 {
    	width: 91.66666667%;
  	}
  	.size-10 {
    	width: 83.33333333%;
  	}
  	.size-9 {
    	width: 75%;
  	}
  	.size-8 {
    	width: 66.66666667%;
  	}
  	.size-7 {
    	width: 58.33333333%;
  	}
  	.size-6 {
    	width: 50%;
  	}
  	.size-5 {
    	width: 41.66666667%;
  	}
  	.size-4 {
    	width: 33.33333333%;
  	}
  	.size-3 {
    	width: 25%;
  	}
  	.size-2 {
    	width: 16.66666667%;
  	}
  	.size-1 {
    	width: 8.33333333%;
  	}

	p{
		text-align: center;
	}

	.button-clean{
		min-width: 100px;
		border-radius: 4px;
		width: 10%;
		display: inline;
		margin-left: 10px;
		padding: 5px;
		margin-top: 5px;
		margin-bottom: 5px;
		cursor: pointer
	}

	.table {
	  border-collapse: collapse;
	  width: 100%;
	}

	.table td, .table th {
	  padding: 8px;
	}

	.button-table{
		border-radius: 4px;
		display: inline;
		margin: 5px;
	}

	.button {
	  display: inline-block;
	  padding: 6px 12px;
	  font-size: 14px;
	  font-weight: normal;
	  text-align: center;
	  white-space: nowrap;
	  vertical-align: middle;
	  border-radius: 4px;
	  border-top: 1px solid #CCCCCC;
	  border-right: 2px solid #333333;
	  border-bottom: 2px solid #333333;
	  border-left: 1px solid #CCCCCC;
	  margin-bottom: 5px;
	}

	button.mercadopago-button {
	  	display:none;
	}

	.btn-form{
		width: 10%;
		display: inline;
		border-radius: 4px;
		min-width: 100px;
		padding: 10px;
		margin-left: 10px;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.btn-verde {
	  color: #fff;
	  background-color: #5cb85c;
	  border-color: #4cae4c;
	}
	.btn-verde:hover{
	  color: #fff;
	  background-color: #47a447;
	  border-color: #398439;
	  cursor:pointer;
	}

	.btn-azul {
	  color: #fff;
	  background-color: #428bca;
	  border-color: #357ebd;
	}

	.btn-azul:hover {
	  color: #fff;
	  background-color: #3276b1;
	  border-color: #285e8e;
	  cursor:pointer;
	}

	.btn-celeste {
	  color: #fff;
	  background-color: #5bc0de;
	  border-color: #46b8da;
	}
	.btn-celeste:hover{
	  color: #fff;
	  background-color: #39b3d7;
	  border-color: #269abc;
	  cursor:pointer;
	}

	.btn-rojo {
	  color: #fff;
	  background-color: #d9534f;
	  border-color: #d43f3a;
	}
	.btn-rojo:hover{
	  color: #fff;
	  background-color: #d2322d;
	  border-color: #ac2925;
	  cursor:pointer;
	}

	.btn-gris {
	  color: #fff;
	  background-color: #6c757d;
	  border-color: #6c757d;
	}

	.btn-gris:hover {
	  color: #fff;
	  background-color: #5a6268;
	  border-color: #545b62;
	  cursor:pointer;
	}

	.btn-pag-selecionado {
	  background-color: #CFCFCF;
	  border-color: #CFCFCF;
	}
	
	.btn-pag-selecionado:hover {
	  cursor:pointer;
	}
	
	.btn-pag-noselecionado {
	  background-color: #F2F2F2;
	  border-color: #F2F2F2;
	}
	
	.btn-pag-noselecionado:hover {
	  cursor:pointer;
	}

	.modal {
		position: fixed; margin: auto;
		top:0;left:0;right:0;bottom:0;
		background: rgba(0,0,0,.8);
		box-sizing: content-box;
		visibility: hidden; opacity: 0;
		transition: all .12s; z-index: 99;
	}

	.modal-visible {
		visibility: visible; opacity: 1;
	}

	.modal .modal-panel {
		position: absolute; margin: auto;
		top:0;left:0;right:0;bottom:0;
		max-width: 600px; max-height: 70vh;
		min-width: 250px; min-height: 200px;
		background: #fff;
		padding: 50px 0;
	}

	.modal .modal-panel .modal-title {
		position: absolute; top: 0;
		width: 100%; height: 50px;
		line-height: 50px;
		background: #257EAF;
		color:white;
		font-weight: bolder; padding: 0 2em;
		box-shadow: 2px 0 10px rgba(0,0,0,.6);
		
	}
	.modal .modal-panel .modal-close {
		position: absolute; top: .25em; right: .75em;
		cursor: pointer; font-size: 25px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.modal .modal-panel .modal-content {
		max-height: 100%; overflow: auto;
		padding: 1em; box-sizing: border-box;
	}

	.modal .modal-panel .modal-footer {
		position: absolute; bottom: 0;
		width: 100%; background: #257EAF;
		font-weight: bolder; padding: 0 .5em;
		box-shadow: 2px 0 10px rgba(0,0,0,.6);
		text-align: right;
	}

	.modal .modal-panel .modal-footer .modal-action {
		border-radius: 5px;
		background: #fff; border: 0;
		min-width: 80px; min-height: 35px;
		font-weight: bold; cursor: pointer;
		margin: 10px;
		transition: all .12s;
	}

	.modal .modal-panel .modal-footer .modal-action:hover {
		box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
	}

	.open{
		animation: openanimation;
		animation-duration: 1s;
	}
	@keyframes openanimation{
		from{
			width: 0px;
		}
		to{
			width: 200px;
		}
	}
	@keyframes closeanimation{
		from{
			width: 200px;
		}
		to{
			width: 0px;
		}
	}

	@keyframes marginoanimation{
		from{
			margin-left: 0px;
		}
		to{
			margin-left: 200px;
		}
	}
	@keyframes margincanimation{
		from{
			margin-left: 200px;
		}
		to{
			margin-left: 0px;
		}
	}
	.table tr:nth-child(even){background-color: #f2f2f2;}

	.table tr:hover {background-color: #ddd;}

	.table th {
		cursor: pointer;
	  padding-top: 12px;
	  padding-bottom: 12px;
	  text-align: left;
	  background-color: #257EAF;
	  color: white;
	}
	.pointer{
		cursor: pointer;
	}
	dialog{
		position: fixed;
	}
	.site-dialog {
	  overflow: hidden;
	  width: 95%;
	  max-width: 500px;
		top: 50vh;
	  left: 50vw;
	  transform: translate(-50%,-50%);
	  padding: 0;
	  border-width: 0;
	  border-radius: 5px;
	  background: transparent;
	  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .3);
	}

	.dialog-header {
	  padding: 12px 20px;
	  background-color: #257EAF;
	}
	.dialog-content {
	  padding: 30px 20px;
	  color: #555;
	  background-color: #fff;
	}
	.button-volver{
		margin-top: 5px;
		padding: 10px 10px;
	  cursor: pointer;
		color: #fff;
		border-radius: 10px;
	  background-color: #EF1A17;
	}
	.sidenav {
	  margin-top:6vh;
	  height: 100%;
		width: 200px;
	  position: fixed;
	  top: 0;
	  left: 0;
		display:inline-block;
	  background-color: #257EAF;
	  overflow-x: hidden;
	}

	.sidenav a {
	  padding: 6px 6px 6px 32px;
	  text-decoration: none;
	  font-size: 15px;
	  color: #000000;
	  display: block;
	}

	.sidenav a:hover {
	  color: #f1f1f1;
	}

	.main {
		margin-top: 6vh;
		padding: 10px;
		animation: margincanimation;
		animation-duration: 1s;
	}
	.close{
		animation: closeanimation;
		animation-duration: 1s;
		width: 0px;
	}
	
	.header {
		height: 6vh;
		max-height: 6vh;
		width: 100%;
		min-width: 100%;
		top: 0;
		left: 0;
		padding:10px;
		position: fixed;
		background-color: #257EAF;
	}

	.header {
		display: inline-flex;
		flex-direction: row;
		justify-content: space-between;
		align-content: center;
	}
	
	.main-nav {
		display: inline-flex;
		flex-direction: row;
		justify-content: space-around;
		align-content: center;
	}
	
	.menu > a {
		display: inline-flex;
		flex-direction: row;
		align-content: center;
	}
	
	.submenu3 {
		border-radius: 0px 0px 5px 5px;
	}

	.margin-main{
		margin-left: 200px;
		animation: marginoanimation;
		animation-duration: 1s;
	}
	.main-nav a {
		color: #000000;
	}

	.main-nav a:hover {
		color: #f1f1f1;
	}

	.logo {
		height: 30px;
		width: 30px;
	}

	.main-nav a {
		padding: 5px 15px;
		text-align: center;
	}

	.main-nav li ul {
		display:none;
		position:fixed;
	}
	.main-nav li:hover > ul {
		display:block;
	}

	.main-nav li ul li, .main-nav li ul li a{
		position: relative;
		background-color: #257EAF;
		text-align: left;
		padding: 3px;
	}

	.main-nav li ul li {
		box-shadow: 0px 10px 10px -6px black;
	}

	.avatar {
	  width: 18px;
	  height: 18px;
	  margin-right: 10px;
	  border: 1px solid #f8f8f8;
	}

	.body-sinpermisos {
  		text-align: center;
	}

	.imagen-all {
		margin-top:5px;
		display: flex;
		flex-direction: row;
	}

	.imagen-visual {
		margin-right: 20px;
	}

	.imagen-visual > .avatar-grande {
	  width: 100px;
	  height: 100px;
	  border: 1px solid #f8f8f8;
	  margin-bottom: 5px;
	}

	.imagen-visual > .eliminar-imagen {
		font-size: 14px;
		color: #257EAF;
		cursor: pointer;
	}

	.imagen-visual > .eliminar-imagen:hover {
		text-decoration:underline;
	}

	.imagen-info {
		color: white;
		background-color: #257EAF;
		border: 1px solid #1b8048;
		border-radius: 5px;
		text-align: center;
		padding: 8px;
		width: 150px;
	}

	.imagen-info > p {
		font-size: 15px;
		margin: 5px;
	}

	.error-imagen {
		display: none;
	}

	.error-imagen span {
		font-size: 14px;
		color: red;
	}

	.datos-modificables {
		display: flex;
		flex-direction: row;
	}

	#form-password, #form-imagen {
		width: 100%;
	}
	
	#cambiar-password, #cambiar-imagen {
		height: 300px;
	}

	.required label {
	    font-weight: bold;
	}
	.required label:after {
	    color: #e32;
	    content: ' *';
	    display:inline;
	}

}


@media screen and (min-height: 0px) and (max-height: 700px) {
	.header{
		height: 50px;
		max-height: 50px;
	}
	.sidenav{
		margin-top: 50px;
	}
	.main{
		margin-top:60px;
	}
}

@media screen and (min-width: 0px) and (max-width: 799px) {

	.main, .open, .close{
		animation: none !important;
	}
	.open{
		width: 100px;
	}
	.close{
		display: none;
	}
	.sidenav ul{
	    list-style:none inside;
	}
	.sidenav{
		width: 30px;
	}
	.show{
		display: inline-block;
	}
	.unshow{
		display: none;
	}
	.sidenav-200{
		width: 200px;
	}
	.expand{
		align-content: center;
	 	cursor:pointer;
	 	vertical-align: center;
	 	font-size: 20px;
	 	padding: 5px;
	 	color: #000000;
	}
	.margin-main{
		margin-left: 7vw;
	}

	.datos-modificables {
		display: flex;
		flex-direction: column;
	}

	#form-password, #form-imagen {
		width: 100%;
	}
}

@media screen and (min-width: 800px) {
	.expand{
		display: none;
	}
}

@media print {    
    .no-print, .no-print * {
        display: none !important;
    }

    @page {
        margin: 1%;
    }

	body {
		font-family: Arial, Helvetica, sans-serif;
	}

	p{
		text-align: center;
	}

    table {
  		border-collapse: collapse;
		width: 100%;
		border-radius: 0.5rem;
	}

	table th {
	 	padding-top: 12px;
	  	padding-bottom: 12px;
	  	text-align: center;
	  	background-color: #257EAF;
	  	color: white;
	}

	table td, table th {
  		border: 1px solid #ddd;
  		padding: 8px;
	}

	tr:nth-child(even) {background-color: #f2f2f2;}

	.group-inline{
		box-sizing: border-box;
		display: inline-block;
	}

	.group-inline > .input{
		display: inline-block;
		border-radius: 4px;
		min-width: 50px;
		padding: 5px;
		margin: 5px;
	}

	input{
		display: inline-block;
		border-radius: 4px;
		min-width: 50px;
		padding: 5px;
		margin: 5px;
		background-color: #e9ecef;
	  	opacity: 1;
	}

}
