/*body,html{
  	margin:0;
  	padding:0;
}

body{
  	display:flex;
  	flex-direction: column;
  	width:100%;
  	min-height: 100vh;
}

header{
 	overflow:hidden;
	background:orange;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

main{
	background:red;
	flex-grow:1;
  	display: flex;
	flex-wrap: wrap;
}

 main section {
 	padding: 1%;
	width: 78%;
	background-color: white;
 }

 main nav {
 	padding: 1%;
	width: 18%;
 	background-color: pink;
 }

footer{
  	background:blue;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
	color: #34495e;
	text-decoration: none;
}

*/
*{
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}
header{
	background-color:  #111;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
	color: #34495e;
	text-decoration: none;
}
.sidenav {
  margin-top:12vh;
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
	display:inline-block;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px;
	margin-top: 12vh;
	padding: 10px;
}

.header {
	height: 12.5vh;
	max-height: 12.5vh;
	width: 100%;
	min-width: 100%;
	top: 0;
  left: 0;
	padding:10px;
	position: absolute;
	background-color: #111;
}

.main-nav a {
	color: #34495e;
}

.main-nav a:hover {
	color: #718daa;
}

.logo {
	margin: 0;
	font-size: x-large;
}

.logo a,
.main-nav a {
	padding: 5px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav li ul {
	display:none;
	position:absolute;
	padding-top: 3vh;

}
.main-nav li:hover > ul {
	display:block;
}

.main-nav li ul li, .main-nav li ul li a{
	position: relative;
	background-color: #111;
	text-align: left;
	padding: 5px;
}


@media screen and (min-height: 200px) and (max-height: 700px) {
	.header{
		height: 101px;
		max-height: 101px;
	}
	.sidenav{
		margin-top: 101px;
	}
	.main{
		margin-top:105px;
	}
}
@media screen and (min-width: 500px) and (max-width: 799px) {

	.main-nav {
		display: flex;
		align-items: flex-end;
	}
	.header {
		display: flex;
		flex-direction: column;
	}
	.sidenav ul{
	    margin:0;
	    padding:0;
	    list-style:none inside;
	}
	.sidenav{
		width: 50px;
	}
	.show{
		display: inline-block;
	}
	.unshow{
		display: none;
	}
	.sidenav-200{
		width: 200px;
	}

	.expand{
		align-content: center;
	 cursor:pointer;
	 vertical-align: center;
	 font-size: 40px;
	 padding: 5px;
	 color: #818181;
	}
	.main{
		margin-left: 7vw;
	}
}

@media screen and (min-width: 800px) {

	.header,
	.main-nav {
		display: flex;
	}
	.main-nav{
	}
	.header {
		flex-direction: row;
		align-items: center;
	}
	.expand{
		display: none;
	}
}
